.section-1-heading {
  font-size: 30rem;
  text-transform: uppercase;
  letter-spacing: 6rem;

  span {
    color: $color-white;
    font-weight: 600;
    opacity: 0.8;
    position: relative; /* css 019 */

    //⭐css 023, inline속성에는 transform 적용안됨. span의 기본속성을 inline-block로 바꾸기
    display: inline-block;

    //  &::before~~~ , SASS pseudo-element 문법
    // https://stackoverflow.com/questions/13608855/what-does-an-before-a-pseudo-element-in-css-mean
    &::before {
      // css 018, @extend
      @extend %before-after;
      transform: translate(-0.5rem, -0.5rem);
    }

    &::after {
      @extend %before-after;
      transform: translate(0.5rem, 0.5rem);
      z-index: -1;
    }

    // css 017 글자에 색 넣기
    &:nth-child(odd)::before {
      color: $color-orange;
    }

    &:nth-child(even)::before {
      color: $color-red;
    }

    &:nth-child(odd)::after {
      color: $color-orange;
    }

    &:nth-child(even)::after {
      color: $color-red;
    }

    // css 017 글자 밑에 line넣기
    // css 023
    &:nth-child(odd) {
      transform: rotateZ(20deg);
      border-bottom: 0.5rem solid $color-red;
    }
    &:nth-child(even) {
      transform: rotateZ(-20deg);
      border-bottom: 0.5rem solid $color-orange;
    }

    // css 024
    &:hover:before {
      transform: translate(-1rem, -1rem);
    }
    &:hover:after {
      transform: translate(1rem, 1rem);
    }
  }
}

.section-heading {
  font-size: 9rem;
  font-weight: 700;
  color: $color-orange;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  margin: 5rem 0 10rem 0;
}

.card {
  height: 40rem;
  width: 30rem;
  background-color: $color-orange;

  @include flexLayout(space-around);
  flex-direction: column;

  //css 034, &-img: https://css-tricks.com/the-sass-ampersand/
  &-img {
    width: 25rem;
  }
}
